* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    width: 480px;
    margin: auto;
    height: 100vh;
  }
  
  .app {
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wgARCALHAdoDASIAAhEBAxEB/8QAGQABAQEBAQEAAAAAAAAAAAAAAAECAwQH/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAH/2gAMAwEAAhADEAAAAfqAgAAAAAAAAAAAAAAAAAABYqpSS0llGdCTXMuiAAMedK9ggAAAAAAAAAAAAAAAAAAAAmqWAAQhYAAcOnjN5sr3CAAAAAAAAAAAAAAAAAAAAAKKAYtgAAcDjhatZPeIAAAAAAAAAAAAAAGTQAAAAAJqAsqUgADPi3zpoLKPaIAAAAAAAAAAAAAGTEza6649YoAAAAAAAAHHr5DnpqstUzvOz0iAAAAAAAAAAAAAHDfMaqpZDuzqAAAAAAABg4yWgC6JpzPUIAAAAAAAAAAAAS5OWtSsqE2MdsaigAAAAAAnm3zqpom9QgLLk9AgAAAAAAAAAAAAAAAAAAAAAABjflDW6hAAC50OwgAAAAAAAAAAAAAAAAAAAAAADlOkMTorm6Dm6Dnd05ulKIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASgarLQy1mAAACCoKgoAAAAAAAAAAAAAAAAAAAAFgpKCAAAJqClqKMiAAAAAAAAAAAAAAAAAAAAAJQAAAAShrNqxowIAAAAAAAAAAAAAAAAAAAAAAAAAAAENWWsiAAAAAAAAAAAAAAAAAAAAAAAAAAAAJUKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACXj2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAPN35WuwgAAAAAAAAAAAAAAAAAAAAAAAAAAADi1abxuAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACUAAAAAAAAAAAAAAAAAAMjTNKyNIKlCCgAAAHM59vJ2ruzqAAAAAAAAAAAAAAAAAJYpZSWUFIAlgAAACeXeanQHbjo6iAAAAAAAAAAAAAAAAIsKKms6IQsWAAAAHPpg5asqVSNUbxuAAAAAAAAAAAAAAAAAJZaWUkUCAAAAAAAAAAAAAAAAAAAAAAAAADGxKDOqlIAAAAAAAAAAAAAAAAAAAAAAAAAA4duPQ2CUAAAAAAAAAAAAAAAAAAAAAAAAAAAOTampYAEKyNMjTNKgqCs0rI0yNMjSUAAAAAAAAAAAAAAAAAAIKCLKKIsFgXNFQoEolsAgAAAAAAAAAAAAAAAAAZM7xuqlhKCWgEoASgUiwuVgAAAAAAAAAAAAAAAAACc3KtdeXQusU2ISwooACyULAQogAAAAAAAAAAAAAAAABm8TESr24dTVzTeue4oJWTQoUlgEFlgAAAAAAAAAAAAAAAAADlwqpqB059CWDWsjszqEoJaWUgEWAAAAAAAAAAAAAAAAAAAPDStXNJ1x0M0JQ114dI2BnUKloAIAAAAYcD1M6AAAAAAAAAAAAAPDZaurSoFQWUWQ7a49oAzpk0AAAAAec5XG66d/L2OogAAAAAAAAAAADxdLmrKFC3NI0MgvTmO6WAAAAAAM+TeampoalO2uPaAAAAAAAAAAAAPKz1rF2MroysAKCKNdOHSNgAAAAct+cWWpWhKHTA7JYAAAAAAAAAAA8dK1AtABQtABQ6CAAAAPPkpQUKDUDXQgAAAAAAAAAAD//xAAmEAABAwMEAgIDAQAAAAAAAAABABFQAhAgITAxQAMSQYAiYHCQ/9oACAEBAAEFApQZVFh+MpznUXMmc/IZuo+om6z7Ga8lUocyWD4NADr+Spzg579ZQ63kqYCDOnXOg5NmgSXwHTrLkYgLTu1HIdGosMW7x0TPkOjybgQBCZMmKZMmTIb9etwFxL1FhYDNpLkgLiZq1XG1pJMmTJl6r1XqmTJvo632zH+w1M6DODSdpmmTJvtxVV+TzVZ0sJg6J7Gwl6y55LC4lqiw9chKsmKZNZrN/VqTOcTonRNMm23ydOnTp06dOn/Yj1T+xGcM2Tb4+Zco3PNhK1G/weZao4fB5uJM4FHESxR52xvPr3hc84jp1FhShEDXpVH2NKHebaB6PkNqUFT2wFoNwb9RYWFxCN0qj7GwuIgbtZwGA7emB2aS+2SwwEWyG3UXOAxHY//EABQRAQAAAAAAAAAAAAAAAAAAAKD/2gAIAQMBAT8BKN//xAAUEQEAAAAAAAAAAAAAAAAAAACg/9oACAECAQE/ASjf/8QAIxAAAQMDBAIDAAAAAAAAAAAAUAERIQAxQBAgYGFwcYCQsP/aAAgBAQAGPwI3PNm8VtvY29Sb6QI2PF+BWKsEY461GM+yagsx6TcGW/F0vwlzbaSak9arfbf1ovwLbm/VKAjKbRTL6qHjFUw2xc6MqTfraub/AP/EACsQAAIBAgUDBQEAAwEBAAAAAAABESExEEFRYXEgUJEwQIGhsfCAwfHRkP/aAAgBAQABPyHtMkdKxilRtJSyV3d9VWzyJ0pz7VfDbCNRimOi7ZddQdsiN/vubTCXXZXO4rWI1nuTopEtb9S2tirLbrmTOhGy8dsWOpzhdz12WysJUpU+CmncW5/XXEoXd+BUvTBSqEPTtyNRutTmGzrcxbj+xbWZD+XYGmvrKg/Qg4qz7IgQrSUZop/Xv8j8jQmJ+1pFwSyrBpPwQIdtxKl375oSKZ3FW5O4nK9myY3ZGc8yItBEPBEFxOnvkh6KxzYUYPD59mnQL9LLHBFCg6kmhGdfXvYuQrkJXuSMY8r2Nou8FL1qLMzjUXBBX+hubkc+8aEsTZInhjJHkofsG4UsmRhvxhlShddA3wMx6kbe8ka2GzzJ7G8ieqJao+BLYSF67VZFcuKp/TKQSqTN8N7ZYTv3LkMiMpEtSCPoiaaLDOK457kO5N126ZEil03E4Mf1i0EyyfOFczYl6ffcZtD5FF1WS29cLEDR+GZ4Pwn+LuMUiSJHcjqyO5DchuQI7kSJHP8Ag3G5yGtyNyGRGfd08M8MvQknnwSSiVqSu2TQz9Ljub+vSXfVbGunelhHelfCe97rnnve5O675C0/+aKqu+PDjJ980Jluu97W4NDvcwfI2Xep6o+It3+XHwF2ZGpHPkjkjnyNc4Ruz5ZG4jdkbnn0oIK5QzG7Q7Y8EC/o9NkjbsXNrnIlyYGldlW3QicG/TsCgk6BBqY5f/mDQ+zcjsZ+tzjFJTSiaUoKhwXgjwPKh37IiR2Hf1nVNJGE9CX/AEQ8xLQhl09kzxfekOw+9Wwfd5Fv0Wp3hVKBVWLUrvE2WY8U73f4MhpXfCKz1TsydmTsydmcGTsyefBPPgnnwTz4IfyIfyIENSGpDUhqiGqIartSoz6PwzFghYbdOozM5OOzNCkW9+hC1w4K/IuvLDZiPt2e7l2Vh36GhPG/UumiUi1fZtEwOHoMXRbjDLBmWPP0cU6XV7dmbhSNHLuJ3HdkicroXUs+nMsuzx1dlbkmt7k1DdRlsJ9HBfpWeECwYuzNlmVteBpao3cME8GpXos9mMvxhyL/AEW6L9mdFUZbN3Eyat/LHMtGNDQKeuax0L/WHyIenZ4d4/SW5r9kQXX/AKO4puE/knUQ3Q0K2CFf4wQ+0NLUZFoX6cCvuyxlwsJIoNPRauWKv8dre4nJe1DKVLMx+QuhOI6VSnsHhX97VKl9y0HCC0LMijL2hvhlsfovI+XQyaetX88jNP8AMeV7zPKCznMshS43Ii/ga/4Zmhos8NszhjQ6HSvn1q7ksfgM5TFX3dZiEKtrZCzWROSbGSg/Bqw5SE5QsMit0qU4yy9TL3dy864KD5e7c3FqCVhL5JbvIjIV8XDrbcdL+Tf6FXgyHyfrpew7tureZGEiRpXum3ZHzU+V8mp+lYqbsvXD8P8AgeRKtROMxOV61osrEfQ8JYND91dMdK0FwLn7MsI8l6llOYhVgyqVTrYuqj65+rkbsdjIZ+Ah+RaD+55zJvRQuyFRUgptGZwQLiF0NUNMmQPTQxsvLuZOObPBoVyYE5XuEl5sLOnyK1CZiMxl8FLsK6jDPkgzw3FClenScv0UFWNi9uSbn4ERhwZSh6+4/9oADAMBAAIAAwAAABAIIIIIIIIIIIIIIIIIIIIQjhhjQIIKgIIIIIIIIIIIIIIIIIIIILiDSBIII6wIIIIIIIIIIIIIIIIIIIIJISBIIIIQQIIIIIIIIIIIIIIIYIIIIIKaiIIIShwIIIIIIIIIIIIIIZS4IIIIIIIIIIjQAIIIIIIIIIIIIIJaCwIIIIIIIIKCDxQIIIIIIIIIIIIIZDxCIIIIIIILggDiQIIIIIIIIIIIIIIIIIIIIIIIJZAhyhQIIIIIIIIIIIIIIIIIIIIIIIJ4yiShAIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIJLjAIIIIYoIIIIIIIIIIIIIIIIIIIIIJJgIIILajAIIIIIIIIIIIIIIIIIIIIIKIIIIJKRwIIIIIIIIIIIIIIIIIIIIIIIIIIIIaAIIIIIIIIIIIIIIIIIIIIIIIIIIIILIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIKIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIAIIIIIIIIIIIIIIIIIIIIIIIIIIIIIAoIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIoIIIIIIIIIIIIIIIIIIYo4oI4IIIIJAIIIIIIIIIIIIIIIIIISywzgoIIIIwSQIIIIIIIIIIIIIIIILYjTxIIIIJIwgioIIIIIIIIIIIIIIIIIwDgIIIIIIIIIIIIIIIIIIIIIIIIIIpJiIIIIIIIIIIIIIIIIIIIIIIIIIILoKIIIIIIIIIIIIIIIIIIIIIIIIIIILSIIY44oIIo444IIIIIIIIIIIIIIIIIIIYLTRCywRjyAIIIIIIIIIIIIIIIIIIKAIJBjwRBjQoIIIIIIIIIIIIIIIIIKyBQIaDBxySgIIIIIIIIIIIIIIIIIIpSxgYJbxCgSoIIIIIIIIIIIIIIIIIKCSTxQoJAzToIIIIIIIIIIIIIIIIIILwjCTAIJbCAIIIIJIIIIIIIIIIIIIIJjCjCQCoLIIIIIIbBgIIIIIIIIIIIILDTwSDxQIIIIIIIQiyoIIIIIIIIIIILwSABQxgYIIIIIojhBQIIIIIIIIIIIIBwDyAAAAIIIIICDzxwIIIIIIIIIIIL//EABQRAQAAAAAAAAAAAAAAAAAAAKD/2gAIAQMBAT8QKN//xAAWEQADAAAAAAAAAAAAAAAAAAARgKD/2gAIAQIBAT8QQ0wc/wD/xAAsEAEAAgICAQIEBgMBAQAAAAABABEhMUFRYVBxgZGh8CAwQLHB0RDh8YCQ/9oACAEBAAE/EPSLTT7RGRPES1XO7j2lS8ZEgt5wbWFUPHiZZjizfvFyXt0SzwRHgDFsKu/9j8RcpYHmdhc3b6VlVPpG7Nswpzq5a00/eAOYliS8WuPETrHtAxjnc0t8xjb+JwW4JdJgY/fcoYQPs9LUTGuSA3nj4QMA8ck1vUwllbm7G6ZuGdXcTkOXxAAA0fiQQrbI/aVypd8aOom8rc/del8znP8A2OPeLSjDnFUxLw6eoviK+2f3lVuzL+LIE6Dt6liRa7cqxCUbVxms/SIvd9vPpnIZ8qZ7XDDwLIRUNzQ4rnz+MbleMnL398RkZZVp6hiwRRlvJc8lfpplvxTPMLRs5KhwkuUyVl+PN2C8tf7f3FdyF1jn+jxK70ZW6t6joXGwN+J0lO736a2a+nMyv6RxQ0UygaLXiBRlt5e/xayTjt6hCDbbdVf9UEDQCnCWeIm7LMF5T+pewtZ7c5g5bm/QAlF+Pb85i8MvT5xHftg/HQtQqsPb24lheFOjnv2g2oVVG8vMtgAz399woHGHL/EKsE4o/XspsSx46iAVMlqaxLrPl+cOKeHH42vsePByxsABRscff8zRYXwf6Jk2lYr3JTgfbuvtiHDTXRMDo41+uNVngO2UNVVvMNESClnZCmfdqECc/o1DoLY246Zp0cH7TcBXrHiuYmwdGDn7xHBv6xVEa5VIKqsrTm6JSDKitfrictYvLzDz0sHoiV022YONy7L08TGXjw5/RubU9L9uIHs4rjcRBE7+E2cmVZVHYnRq5VJSVvl3qIrC1ZvR4iKljy/rY05bVwf7hsUXWirZnpEbCJVwUcH33Ant7Zlm9WY1iUoop9f0K0dIrjzKoSqEDHPiBrSj+X3mWUYM41KwC7Fm3uHPJXBW4AsK9f2nMFGgjdWvm/WGug47jluWffqJLKW2hawp2tkuwzVeMXLU3lcRtTrw5m2fGDYJ+eCJQFsXQBcAtUXqB49hvzGshhy59o+QavFnbAFDbQe3j3gCAy32n9S7y0lS2eGi4m3P6frLI0mQOr7gze+2bKd+Sbaz+GZxp9hhhv5EGDm3dQLF18FSiMV4/PvBqt8XwThbjfymZzRzUvsrI2q1BJDQ25PevlLK024zHCmb95b08jECqxiNFDD2/wB+pZ4q+B/MtWBtz/MscHOMEEU6MbopoGaNI5KsLgXgA94uKiOR4INXeEzVZnIW/LEbW7+b6ioCrQcxWQLAODz7/eoYIDhfx3AAPCvXmXyIj1AKwNbZay2u9/KOBa4VxKx1fOpgKLavWvvEVDKrc55hRh/N6igGpyP2hBrZd8h/cS7TLXWI23SF1stj2B98pAU15FHmaAEpoGaLL8hr7+ESl3wZma0A0GoPIUOc7hQWF+71HdZV3MaZr4TyfNAtCeGef5plts+WYaunvMubfdgF0i/MB1Y93PC33cCG/m/8NPGUOYVcp+Ute3yJyir4R4b+0KN38Jba3w9Xow/CPniUOHEAt89xXJyRy/jRnfwFgEsKe6U8/Jnm+j/ieb0thbDiGRvrcEM3WMxbb/IVM/EdwzV/6jY7w8Tjfxitz4/X0wab+cXJWpk1w+v5VRp+EXFS8mGmVui2Z8+m5MGB09QKK/KSyolpybjxLl9nz9Z02fGZarMyOIKtvz9aSA4deIqS3T60llMV3wfdyzv1s2INnHcLllHv64s2j5f/ADRQCNj644K6BL4evXMLQb4uvlC3cD62oghWCh5jsUw8fxDOvWrWzRtlYumcUv0uYcPb1ou4PAy27t3FFeUNZ/8APa0dsqqzePW1KGr5sAnFmJv0QAmV32wxP5Mwob9isNcp906nXtlNZu+MwdN/NlZ8mczK2g4hfGb3l7LR8YFcr3/KRVpnyJVDN2cP0itNtaOJaZcvoh2YOBJxm9xu15rd6jVDq8TYo3K6Zi8GfnN6FahTbrqHFlReaPj+UpdAtilkVmt0dSkEWa4lWXJ78TEJ1jx8PhBuPb0Ny5c3cz5fpUyClXA1fzlC2GPlKXZR1/qAO3y6nhs7hs/ie5eiBR+VUWIeOX+oAq30cwzHWaHBUaWVePBi3vdfOMt6d3x6G9m4Oq1UqjHvNtDHZEWDZmppAy9hrm4b68EUq7DNLAzfy/KKoQwEYPCVtm0Icc5Ty8w0t7t4/iYoNM3f7xLUDXWalgMrS1x9Z1g+voZQ50xO/pG2c/xFkas4iwzxL8rzL4MkAaxjn8tUZu7ePaNb25TOY08tcky3hzgffUH7CuSGR23xuXLdl+SCxUeh7hdTxGy8e8Rpgy3UGrDbOMaevV29mE1FyRihwJFns5imtdZz6y2rPjHJmUu7qGW6r1bBrYPmd/gWnR1/UaV9/V22lvNv0iATTn/IIOme/q50BPFNY4li3P7+tpohWlkRwu8WXv4dypXfPrVTS/SAKrEpQYar8K0XV+JehxOtf3N6/a/uF/6yZn8cp4faceXxEmyFevmStXVPdK9fMnuX7pgvPzTy/Rn2hnhTx5/3p/1p/wBaGSz0nktDHLqhArWmqiXQ3ZFWGsQTKuO4LtQA3PLVy6QCzuZstucl2OeJT2l+Y6243XMFC7b37x5DGluc8mZ0G/hAXP05llulY9GF0X0dvUtVUputf5SymV07HPmKlG+5hRzl2YiNZc1BDmBt7i5NSs+XiYsqsHxgojRR9JaOfpPGWFtuO+pVmee8ZgBsca0ROM4idFW14hg9GW7mi3Ly/wAR7AfD8FlPJETuZtCZMax8ppTk/eIC8LKoy2D1KPhxNaItF/QlcZW9RM8B9ZQIgqcvEWrzmBnFxbDAbviXTkf29Gd42O3ojCihVHjEaO4wwa4/Bt5OfeGq07PE5ZSGCZYY5yLIlr3KXFXnhlFNvhGsCjt5jyceZj2Ji++YNqv1lKDT6+jEy0RxSm7w8ftACjVYb/mOsSniO1DjJKh/yglOplhyn1IYL+sXPV+Zm/jH21yTejiWtqVWvjLKxmuIZzoOZRgY+f3lu2SJg5YFFejEqLSuj2+EVdXhmmvMBRVFauVbH+5eFiWlTndW/gb3sQaY1ChbCuKgBkDEyhjiJQV3xMX2ce8M3jBxEYCctwOOHOYinDBWefRqgDS56OWMo2DU57jgpQt/2VWKnvqZIOs73ECthglt0XbRcZAre+/weStnvBZEytjHL/qXa2agEd1hNOFmViFb9pkM5eHiXrwejIRVBuE0rML0cH8wHLnOrpZkDHR7aJQD2U+3EOiFxxnUsqrXohRSe1/ftBrJivEGwT/KWU6gix/3L13HRevMuMzXsnF3cxWfgiVs1EhQzAAo16MbwFmC99PhGgp8cn3T4wS8vU2NoLg2+8zZC8NAcViO5VWKv2JRuldd8wHsdHBEXvFFXDGjT+Cyk2ZIyznuuSXniHh5gpN+5gYFiszEePhDvn0dqBRYHd9v3zAQBxinjdRbbeLpvqOmIoaDMwcq3ecHi41qjWHrgnQbfnEcNNeZlvdbCoDAXe7qVvJ+Bb8ls89xdXhl9E5DMU137cwG7SYUTj6+kHlFnBx/ce9NpgxqXkWV1bxApABmkq5kZbHGiDPOAP0mVFUau4lmAur+kHWXvdwvF5PHEv0bvP38oZP8+8urPsvJ1Hy17EVreLNQ22ajV0Wvyo/MrcVha/Y/Wihw05fe4IOYZyO9RByBwYzDRrLe2ZPXdXlpgy0FAPlHKhsr4wvmrTUrCngQV5wmF6BjfBxM9ucn4BZ5MkOmv3IC3fJODFw9g/LFq3oO2Ftq2hXu2YdHWvb9YeADXf3qFhZELaa8TA2LWTr3i0l2A++pVVk0FP5iKA01blXzdQbIleHNf3F+Y1CuxBzL8FLuWlYZQKUoebhi88/gzV19rgtPdYiFB13+YAFPtXMaNlDF27ggd5uIAmn9WuwN57hRTbLlRiszEXF1jL7EAFgtbbWZpTfZ97hrBf1e0soh8VgRVoFVyQrBPh7RW9p7R81e6fv2g5Bd69/u5SloMWX+G76P+PzGov6Ww6939pdAZ2L4iQRWi7u9/wC5UXlQqq5+7lOWnPx/V1pgbPBCi5ThwD78wyUlzrj+oilpowr7zWD8TE7MZ7+RKDAYdY2zFhYPiWC1hWn89xWAgGAZuDYbHaWWsMb3HGBVZqt/eY7oHZ+fmQrQbXggvKK2nMHRnRQfCZUQoA358QFFuDr6wT3/AFmb/fP6oAEUcGv7YoYBbBfX3zHNIA7fKGKDgMD+8EW72q7+scCFxxGtiBvGJfAjm2uIuLVxpvUHF7RpzcSOWOdLl6BwbRP4lAy823LBfSkhAn51q5vVHby/x85a6zeVp+0GdVx7Ex2ugwZ55lsmXtgNJVVgCNdx1DJZ+p4hha6+sBYJrm91onAMMVm1+8R1u15v930gOq17ZYBYVV1zbBVTb5O6lKUvl8S/imepoXs7lxZz11EG2WPlLQAyx49yGS12cdSlWlLh/Naha3vR/vUBSro4JwHS5mQhveDzDQnaLH3nR1ogwUORuUXyviWY/UmNFbK/xLUdzBgK/wCxQheDjm/tYLb4UD/2LYQ2W7wa+N1MA4LZVIY+9xUwXa681NAo+d3MgbXrEyugLfbM0Vn2rcwA2198ww3ef3mgYeg3FAsFhQwPKfl3J0dbfEGyjc1k9vYlrDVnevaVZi3z0SmgOYaauh8cxoMonmAh+3mbOIWIY5uVDz+oMhvZOWu4gFbGW1tHEO5LKH5e0KhkLk7iGrxW+faDsA3g4iYF1dCQaWNTU1oy+YI6NbvUSgUtr6muuKMxatmhqUlJRedTKsbG62QZGwddXBsE/KFLNlHnk/C6+LLAJmHyCoR3FbHT5JRaNplYW+n9pazutwoq1MQAKG1zCqUVKFelr4/qP//Z);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .top {
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .top a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-content {
    width: 100%;
    height: 100px;

  }
  
  .profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-img {
    width: 60%;
    margin-top: 20px;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .card-img > img {
    width: 100%;
    border-radius: 63% 37% 69% 31% / 44% 32% 68% 56%;
  }
  
  .skill-slider {
    width: 100%;
    padding: 20px 2px;
    overflow-x: hidden;
  }
  
  .slider-main {
    width: 4000px;
    display: flex;
    position: relative;
    animation: slide 10s infinite alternate;
    margin-left: -2000px;
    -webkit-animation: slide 10s infinite alternate;
  }
  
  .slide p {
    padding: 0px 20px;
    text-shadow: -1px 2px 12px rgba(0, 0, 0, 0.75);
  }
  
  a {
    color: black;
  }
  
  .slide {
    width: 200px;
    margin: 0px 10px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  
  .slide > i {
    font-size: 30px;
  }
  
  @keyframes slide {
    from {
      margin-left: -1000px;
    }
  
    to {
      margin-left: 0px;
    }
  }
  
  .swiper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: fill;
  }
  
  .respo-gif {
    width: 100%;
    padding: 15px;
  }
  
  .gif {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .respo-gif > img{
    width: 100%;
    background-blend-mode: soft-light;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  
  .para > p {
    font-weight: 900;
  }
  
  .sli-main{
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
  
  }

  .respo-img-nav {
    width: 20%;
  }

  .respo-img-nav > img {
    width: 100%;
  }

  .swiper-button-next{
    width: 10px;
    height: 10pxs;
  }

  .cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center;
  }

  .cd-intro {
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .cd-title h1 {
    font-size: 2.4rem;
    font-weight: 700;
  }
  
  .cd-headline.clip span {
    display: inline-block;
    padding: .2em 0;
    
  }
  
  .cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
  }
  
  .cd-headline.clip .cd-words-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #aebcb9;
  }
  
  .cd-headline.clip b {
    opacity: 0;
    color: white;
    background-color: black;
    padding: 3px;
  }
  
  .cd-headline.clip b.is-visible {
    opacity: 1;
  }
  
  .box1 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .red {
    color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  span b {
    color: white;
  }
  
  
  